<h1> All Upcoming Events </h1>

<ul id="events">
  <img src=<%= @photos %> style="width:100px;height:100px;">
  <% @events.each do |event| %>
    <li>
      <strong><%= link_to event.title, event_path(event) %> </strong><br>
      <%= event.city %> <%= event.state %> <br><br>
      <p>Requirement:</p>
      <%= event.requirements %>
    </li>
  <% end %>
</ul>

<%= link_to "Create a New Event", new_event_path, class: "new_event" %>

