
<div id="photos"><%= render 'photos/list' %></div>

<h1><strong> @organization.name </strong></h1>
<h2> @organization.location, @organization.state </h2>

<p><strong> We care about </strong></p>
<h3> @organization.categories(From organization) </h3>

<%=link_to "EDIT EVENT", edit_event_path(@event) %>
<%= link_to "DELETE EVENT", @event, method: :delete %>

<p><strong>This event categories:</strong></p>
				<% if @event.animals %>
					Animals, 
				<% end %> 
				<% if @event.arts_and_culture %>
					Arts and Culture, 
				<% end %> 
				<% if @event.children_and_youth %>
					Children and Youth, 
				<% end %> 
				<% if @event.community %>
					Community, 
				<% end %> 
				<% if @event.disaster_relief %>
					Disaster Relief, 
				<% end %> 
				<% if @event.education %>
					Education, 
				<% end %> 
				<% if @event.environment %>
					Environment, 
				<% end %> 
				<% if @event.health %>
					Health, 
				<% end %> 
				<% if @event.homeless_and_housing %>
					Homeless And Housing, 
				<% end %> 
				<% if @event.immigrants_refugees %>
					Immigrants And Refugees, 
				<% end %> 
				<% if @event.seniors %>
					Seniors, 
				<% end %> 
				<% if @event.sports %>
					Sports, 
				<% end %>
				<% if @event.technology %>
					Technology, 
				<% end %>
				<% if @event.women %>
					Women, 
				<% end %>
				<br>

<h1><%= @event.num_of_volunteer %></h1>
<p>More Volunteers Needed</p>

<h1> 40 (How) </h1>
<p> Days to Event </p>



<h1>Event Title:<%= @event.title %></h1>
<p>Event Description:<%= @event.description %></p>
<p>Event Start Date:<%= @event.start_date %></p>
<p>Event End Date:<%= @event.end_date %></p>

<p> @Event.categories(How)</p>

<h1> Volunteer Info </h1>
<p>Event Requirement:<%= @event.requirements %></p>
<p>Signup before <%= @event.dateline %>
<p><%= link_to "Sign up as volunteer", event_path(@event) %>(Which route?)</p>

<h1>Location</h1>
<p> @Event address:<%= @event.address %>, city:<%= @event.city %>, State:<%= @event.state %>, Country:<%= @event.country %>.</p>

<p> THE Google MAP(How) </p>

<div id="map"></div>

<style>
  #map {
  	width: 100%;
  	height: 400px;
  }
</style>

<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
  function initialize() {
  	var mapCanvas = document.getElementById('map');
    var mapOptions = {
    	center: new google.maps.LatLng(<%= @event.latitude %>, <%= @event.longitude %>),
    	zoom: 14,
    	mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(mapCanvas, mapOptions)

    var marker = new google.maps.Marker({
    	position: new google.maps.LatLng(<%= @event.latitude %>, <%= @event.longitude %>),
    	title: "VENUE"
    });

    marker.setMap(map);
  }
  google.maps.event.addDomListener(window, 'load', initialize);
  </script>

<h1>What Volunteers have to say </h1>

<p> @user.comment(from user) </p>

<p> LEAVE A Comment(from user) </p>

<p><%= link_to "Sign up as volunteer", event_path(@event) %></p>

<p>Temporary Back link:<%= link_to "Back", events_path %></p>
